@import url("print.css");
@page:first {
	margin: 140mm 0 60mm 0;
	@top-left {
		content: "";
		margin: 0 0 0 0;
	}
	@top-right-corner {
		content: "";
		margin: 0 0 0 0;
	}
	@bottom-right-corner {
		content: "";
		margin: 0 0 0 0;
	}
	@top-center {
		content:var(--logotype-front);
		vertical-align: bottom;
	}
	@bottom-center {
		font-family: var(--font-caption, sans-serif);
		font-weight: normal;
		font-size: 14pt;
		white-space: pre;
		line-height: 120\%;
		content: string(identification) "\a" string(date);
	}
}
header {
	page-break-after: always;
	margin: 19.1mm auto 0 auto;
	font-size: 30pt;
	font-weight: bold;
	vertical-align: center;
	max-width: 100%;
}
header:after {
	font-size: 18pt;
	padding: 1cm 0 0 0;
}
h1 {
	page-break-before: always;
}
@page abstract{
	page-break-after: always;
}
#abstract{
	page: abstract;
	prince-bookmark-level: 1;
	prince-bookmark-label: "Abstract";
}
@page tableOfContents{
	page-break-after: always;
}
nav{
	page: tableOfContents;
	prince-bookmark-level: 1;
	prince-bookmark-label: "Table of contents";
}
