@import url("base.css");
@import url("screen.css") screen;
@import url("document-print.css") print;

*:not(nav):not(header) h1 {
	font-size: 140%;
	margin: .9em 0 .4em 0;
	counter-reset: h2 h3 h4;
}
*:not(nav):not(header) > h1:before {
	counter-increment: h1;
	content: counter(h1);
	float: left;
	width: 13mm;
}
h2 {
	font-size: 130%;
	margin: .8em 0 .4em 0;
	counter-reset: h3 h4;
}
h2:before {
	counter-increment: h2;
	content: counter(h1) "." counter(h2);
	float: left;
	width: 13mm;
}
h3 {
	font-size: 120%;
	margin: .8em 0 .4em 0;
	counter-reset: h4;
}
h3:before {
	counter-increment: h3;
	content: counter(h1) "." counter(h2) "." counter(h3) " ";
	float: left;
	width: 13mm;
}
h4 {
	font-size: 115%;
	margin: .8em 0 .4em 0;
}
h4:before {
	counter-increment: h4;
	content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
	float: left;
	width: 13mm;
}
h5 {
	font-size: 110%;
	margin: .6em 0 .3em 0;
}
#abstract:before {
	content: "Abstract\A";
	white-space: pre;
	width: 100%;
	font-family: var(--font-caption, sans-serif);
	font-size: 140%;
	display: inline-block;
	text-align: center;
}
