@import url("base.css");
@import url("screen.css") screen;
@import url("page-print.css") print;

*:not(nav) > h1 {
	font-size: 140%;
	margin: .9em 0 .4em 0;
}
h2 {
	font-size: 130%;
	margin: .8em 0 .4em 0;
}
h3 {
	font-size: 120%;
	margin: .8em 0 .4em 0;
}
h4 {
	font-size: 115%;
	margin: .8em 0 .4em 0;
}
h5 {
	font-size: 110%;
	margin: .6em 0 .3em 0;
}
p + p {
	text-indent: 0;
	margin-top: 1em;
}
nav {
	display: none;
}
