@import url("print.css");
@page:first {
	size: A4;
	margin: 80mm 40mm 37mm 50mm;
 	@top-left {
		content: "";
		margin: 0 0 0 0;
	}
	@top-center {
		content:var(--logotype-front);
		vertical-align: bottom;
	}
	@top-right-corner {
		font-family: "PT Sans", "Verdana", sans-serif;
		font-weight: normal;
		font-size: 8pt;
		text-align: right;
		vertical-align: top;
		margin: 25mm 10mm 0mm 0mm;
		white-space: pre;
		content: string(identification) "\a" string(date) "\a" string(author) "\a\a" string(classification);
	}
	@bottom-right-corner {
		content: "";
		margin: 0 0 0 0;
	}
	@bottom-right-corner {
		font-family: "PT Sans", "Verdana", sans-serif;
		font-weight: normal;
		font-size: 8pt;
		text-align: center;
		content: counter(page) " "  var(--translation-of, "of") " " counter(pages);
	}
}
header {
	margin: 0;
	padding: 0 0 1cm 0;
}
header > h1 {
	margin: 0;
	padding: 1cm 0;
}
header:after {
	margin: 0;
	padding: 0;
}
