@import url("base.css");
@import url("screen.css") screen;
@import url("paper-print.css") print;
*:not(nav):not(header) > h1:before {
	counter-increment: h1;
	content: counter(h1);
    float: left;
	width: 13mm;
}
*:not(nav):not(header) > h1 {
	font-size: 14pt;
	margin: 20pt 0 12pt 0;
	counter-reset: h2 h3 h4;
}
h2:before {
	counter-increment: h2;
	content: counter(h1) "." counter(h2);
  float: left;
	width: 13mm;
}
h2 {
	font-size: 12pt;
	margin: 16pt 0 8pt 0;
	counter-reset: h3 h4;
}
h3:before {
	counter-increment: h3;
	content: counter(h1) "." counter(h2) "." counter(h3) " ";
  float: left;
	width: 13mm;
}
h3 {
	font-size: 11pt;
	margin: 16pt 0 8pt 0;
	counter-reset: h4;
}
h4:before {
	counter-increment: h4;
	content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
  float: left;
	width: 13mm;
}
h4, h5 {
	font-size: 10pt;
	margin: 8pt 0 3pt 0;
}
